{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}
{% block body %}

<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard de productos</title>
    <style type="text/css">
      .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("banner anuncio tecnologia Black Friday ilustrado moderno verde naranja.png");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
      }
    .hero-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        background-color: #f3f3f3; 
      }

      .container { 
        width: 1000px; 
        margin: 0 auto; 
      }

      h1 { 
        text-align: center; 
        font-weight: normal; 
        color: #444;  														   }

      .dashboard {   width: 100%;   margin-top: 20px;}

      .dashboard table {     width: 100%;     border-collapse: collapse;}

      .dashboard table th, td{    text-align: left;    padding: 10px;}

      .dashboard table th {     background-color:#444;     color:#fff;}

      .dashboard table tr td{    background-color:#f2f2f2;}

      .redes-sociales-icono:hover {
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
      }
      .redes-sociales-icono:hover {
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
      }
      .redes-sociales-icono:hover {
        transform: scale(1.2);
        transition: all 0.2s ease-in-out;
      }
    </style>   
</head> 
<body>
  <div style="background-color:black; color: white">
  {% if app.user %}
        <div class="mb-3">
          You are logged in as {{ app.user.userIdentifier }}
        </div>
      {% endif %}
    <div class="hero-image">
      <div style="position: relative; width: 100%; height: 0; padding-top: 50.0000%;
    padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
    border-radius: 8px; will-change: transform;">
     
      <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFfWfL6alY&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
      </iframe>
    </div>
    
      <div class="hero-text">
        <h1 style="color:white">TODO EN TECNOLOGÍA</h1>
        <p>And I'm a Programmer</p>
       
      </div>
    </div>
  </div>
    
</body>

<footer style="background-color: #f9eee2; height: 100px">
  <div class="container" >
    <div class="row">
      <div class="col-md-12">
        <a href="https://www.facebook.com/TuUsuario/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/1384/1384005.png" alt="Facebook" width="30" height="30" class="redes-sociales-icono">
        </a>
        <a href="https://twitter.com/TuUsuario/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/3669/3669691.png" alt="Twitter" width="30" height="30" class="redes-sociales-icono">
        </a>
        <a href="https://www.instagram.com/TuUsuario/" target="_blank">
        <img src="https://cdn-icons-png.flaticon.com/512/3670/3670274.png" alt="Instagram" width="30" height="30" class="redes-sociales-icono">
        </a>
        <p class="text-center">Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>

</html>
{% endblock %}

{% block footer %}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="text-center">Todos los derechos reservados</p>
        </div>
      </div>
    </div>
  {% endblock %}