{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}

<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard de productos</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: sans-serif;
        background-color: #f3f3f3; 
      }

      .container { 
        width: 1000px; 
        margin: 0 auto; 
      }

      h1 { 
        text-align: center; 
        font-weight: normal; 
        color: #444;  														   }

      .dashboard {   width: 100%;   margin-top: 20px;}

      .dashboard table {     width: 100%;     border-collapse: collapse;}

      .dashboard table th, td{    text-align: left;    padding: 10px;}

      .dashboard table th {     background-color:#444;     color:#fff;}

      .dashboard table tr td{    background-color:#f2f2f2;}

    </style>   
</head> 
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color:#3d423c">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" style="color:white" aria-current="page" href="#">PRODUCTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white">PROVEEDORES</a>
        </li>
        <li class="nav-item" style="margin-left:1020px">
        <a class="btn btn-lg btn-danger " href="{{ path('app_login') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

 {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}
        </div>
       
    {% endif %}

    <div class="container">
        <h1>Dashboard de productos</h1>

            <div class="dashboard">
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Categoría</th>
                        <th></th><th></th><tr/>
                        <tr>
                        <td>1</td>
                        <td>Producto 1</td>
                        <td>$10.00</td>
                        <td>20 unidades</td>
                        <td>Categoría 1</td>
                    </tr>
                </table>
            </div>
    </div>
</body>
</html>
{% endblock %}
